
  <footer>
      <div class="container">
        <div class="row">
          <p class="right">&copy; 2017, Suet</p>
          <ul>
            <li><a href="http://twitter.com/suet_co">@suet_co</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="mailto:hello@suet.co">Contact</a></li>
            <li><a href="http://github.com/kehers/suet">Download</a></li>
            <li><a href="http://updates.suet.co/">Changelog</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </div>
      </div>
  </footer>

  <script>
    var HW_config = {
      selector: ".headway",
      account: "J3nOe7"
    };
  </script>
  <script async src="//cdn.headwayapp.co/widget.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105149331-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
